<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/977b85e7-8a3e-4be4-9cf9-1a6719a4d772/resourcegroups/demodbs/providers/Microsoft.Web/sites/RestForDemoDB20170408114246</ResourceId>
    <ResourceGroup>demodbs</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://restfordemodb20170408114246.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>restfordemodb20170408114246.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RestForDemoDB20170408114246</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RestForDemoDB20170408114246</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RestForDemoDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=demodbs.database.windows.net,1433;Initial Catalog=demojava;User ID=amoraitis;Password=Tasosmor#7;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=demodbs.database.windows.net,1433;Initial Catalog=demojava;User ID=amoraitis;Password=Tasosmor#7;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RestForDemoDB.Models.RestForDemoDBContext, RestForDemoDB" MigrationConfiguration="RestForDemoDB.Migrations.Configuration, RestForDemoDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RestForDemoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=demodbs.database.windows.net,1433;Initial Catalog=demojava;User ID=amoraitis;Password=Tasosmor#7;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RestForDemoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=demodbs;Initial Catalog=demojava;User ID=amoraitis;Password=Tasosmor#7;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>